@import "_reseteo.scss";

$celeste: rgb(153, 217, 234);
$azul: rgb(0, 162, 232);
$naranja: rgb(255, 127, 39);

* {
    font-family: Arial, Helvetica, sans-serif;
    
}

/*---------------version mobile---------------*/

    
    @media (max-width: 768px) {   
        
    

    header {
        
        display: flex;
        width: 100%;
        height: 10rem;
        
            h1 {
                padding: 3rem 1.3rem;
                width: 55%;
                text-transform: uppercase;
                font: {
                        size: 2rem;
                        weight: bold;}
                    
            }
            img {
                width:40%;
                height: 100%;
                object-fit: contain;
                
            }
            
        
        }
    #nav {
            width: 100%;
            position: -webkit-sticky; /* Safari */
            position: sticky;
            top: 0;
            background-color: $azul;
            font: {
                size: 1.3rem;
                
                weight: bold;   
            }

            ul  {
    
                padding: 0.5rem;
                
                text-align: center;
                
            }
              li {
                display: inline-block;
                padding: 0.5rem;
            }
                a {
                color:rgb(0, 0, 0);
                transition: all 150ms ease-in-out;
                border-radius: 0.3rem;
                text: { transform: uppercase;
                    decoration: none;
                    }
                     
                     
                      &:hover {
                    
                        color: $naranja;
                    
                        background-color: black;
                    
                        padding: 0.3rem;
                    
                     }  
                    }
            .button_nav {
                            width: 100%;
                            display: flex;
                            justify-content: center;
                        }
                        
             .button {
                            width: 90%;
                            
                        }             
               
        }

    main {
        width: 100%;
        

        .main__section {
                width: 100%;
                padding: 0;
                
        
        
                 .main__promo {
                    background: $celeste;
                    padding: 1.3rem;
                    border-radius: 0.3rem;

                 }
                .main__tarifas {
                    width: 100%;
                    padding: 0rem;
                    font-weight: bolder;
                     
                     p {
                        padding: 5rem 1.5rem;
                        font-size:  0.9rem;
                         }
                       
                   }
               .main__social {
                    width: 100%;
                    background: $azul;
                    font-weight: bold;
                     padding: 2rem;
                    font-size: 1rem;
                    border-radius: 0.5rem;
                     }
                }
        aside {
    
            
            width: 100%;
            background: {image: url("../assets/img/app.png");
                size: cover;}
                border-radius: 0.5rem;
        
            div {
                
               padding: 1rem;
               text-align: left;
               font: { size: 1rem;
                    weight: bold;}
                p {
                   width: 35%;
                   }
                }
            }
    }



    .footer {
        width: 100%;
        color: rgb(131, 127, 124);
        background-color: black;
        padding: 2rem;
        
        .footer3 {
            background-color: rgb(124, 0, 0);
            border-radius: 0.5rem;
            padding: 0.3rem;

        }
         
    }

}

/*---------------version tablet---------------*/

    
@media only screen and (min-width:768px) and (max-width:992px) {    
        
    

    header {
        
        display: flex;
        width: 100%;
        height: 10rem;
        
            h1 {
                padding:  1.3rem;
                width: 55%;
                text-transform: uppercase;
                font: {
                        size: 3.5rem;
                        weight: bold;}
                    
            }
            img {
                width:45%;
                height: 100%;
                object-fit: contain; 
            }
            
        
        }
    #nav {
            width: 100%;
            position: -webkit-sticky; /* Safari */
            position: sticky;
            top: 0;
            background-color: $azul;
            font: {
                size: 1.5rem;
                
                weight: bold;   
            }

            ul  {
    
                padding: 0.2rem;
                
                text-align: center;
                
            }
              li {
                display: inline-block;
                padding: 0.5rem;
            }
                a {
                color:rgb(0, 0, 0);
                transition: all 150ms ease-in-out;
                border-radius: 0.3rem;
                text: { transform: uppercase;
                    decoration: none;
                    }
                     
                     
                      &:hover {
                    
                        color: $naranja;
                    
                        background-color: black;
                    
                        padding: 0.8rem 0.3rem;
                    
                     }  
                    }
            .button_nav {
                            width: 100%;
                            display: flex;
                            justify-content: center;
                        }
                        
             .button {
                            width: 90%;
                            
                        }             
               
        }

    main {
        width: 100%;
        

        .main__section {
                width: 100%;
                padding: 0;
                
        
        
                 .main__promo {
                    background: $celeste;
                    padding: 1.3rem;
                    border-radius: 0.3rem;

                 }
                .main__tarifas {
                    width: 100%;
                    padding:  0.2rem;
                    font-weight: bolder;
                     
                     p {
                        padding:5rem 2rem;
                        font-size: 1.2rem;
                         }
                   }
               .main__social {
                    width: 100%;
                    background: $azul;
                    font-weight: bold;
                     padding: 2rem;
                    font-size: 1rem;
                    border-radius: 0.5rem;
                     }
                }
        aside {
    
            height: 15rem;
            width: 100%;
            background: {image: url("../assets/img/app.png");
                size: cover;}
                border-radius: 0.5rem;
        
            div {
                
               padding: 1rem;
               text-align: left;
               font: { size: 1rem;
                    weight: bold;}
                p {
                   width: 35%;
                   }
                }
            }
    }



    .footer {
        width: 100%;
        color: rgb(131, 127, 124);
        background-color: black;
        padding: 2rem;
        
        .footer3 {
            background-color: rgb(124, 0, 0);
            border-radius: 0.5rem;
            padding: 0.3rem;

        }
         
    }

}

/*----------------------------- VISTA ESCRITORIO ---------------------------*/

@media only screen and (min-width:992px) {   
        
    

    header {
        
        display: flex;
        width: 100%;
        height: 10rem;
        
            h1 {
                padding:  1.3rem;
                width: 55%;
                text-transform: uppercase;
                font: {
                        size: 4.5rem;
                        weight: bold;}
                    
            }
            img {
                width:45%;
                height: 100%;
                object-fit: contain; 
            }
            
        
        }
    #nav {
            width: 100%;
            position: -webkit-sticky; /* Safari */
            position: sticky;
            top: 0;
            background-color: $azul;
            font: {
                size: 1.5rem;
                
                weight: bold;   
            }

            ul  {
    
                padding: 0.2rem;
                
                text-align: center;
                
            }
              li {
                display: inline-block;
                padding: 0.5rem;
            }
                a {
                color:rgb(0, 0, 0);
                transition: all 150ms ease-in-out;
                border-radius: 0.3rem;
                text: { transform: uppercase;
                    decoration: none;
                    }
                     
                     
                      &:hover {
                          color: $naranja;
                    
                        background-color: black;
                    
                        padding: 0.5rem 0.3rem;
                    
                     }  
                    }
            .button_nav {
                            width: 100%;
                            display: flex;
                            justify-content: center;
                        }
                        
             .button {
                            width: 90%;
                            
                        }             
               
        }

    main {
        width: 100%;
        

        .main__section {
                width: 100%;
                padding: 0;
                
        
        
                 .main__promo {
                    background: $celeste;
                    padding: 1.3rem;
                    border-radius: 0.3rem;

                 }
                .main__tarifas {
                    width: 100%;
                    padding:  0.2rem;
                    font-weight: bolder;
                     
                     p {
                        padding:5rem 2rem;
                        font-size: 1.2rem;
                         }
                   }
               .main__social {
                    width: 100%;
                    background: $azul;
                    font-weight: bold;
                     padding: 2rem;
                    font-size: 1rem;
                    border-radius: 0.5rem;
                     }
                }
        aside {
    
            height: 35rem;
            width: 100%;
            background: {image: url("../assets/img/app.png");
                size: center;}
                border-radius: 0.5rem;
        
            div {
                
               padding: 1rem;
               text-align: left;
               font: { size: 1rem;
                    weight: bold;}
                p {
                   width: 35%;
                   }
                }
            }
    }



    .footer {
        width: 100%;
        color: rgb(131, 127, 124);
        background-color: black;
        padding: 2rem;
        
        .footer3 {
            background-color: rgb(124, 0, 0);
            border-radius: 0.5rem;
            padding: 0.3rem;

        }
         
    }

}